 <% if product.favorited_by?(current_user) %>
  <p>
    <% if user_signed_in? %>
      <%= link_to product_favorites_path(product), method: :delete, local: true do %>
        ♥<%= product.favorites.count %> いいね
      <% end %>
    <% else %>
      <%= product.favorites.count %> いいね
    <% end %>
  </p>
<% else %>
  <p>
    <% if user_signed_in? %>
    <%= link_to product_favorites_path(product), method: :post do %>
      ♡<%= product.favorites.count %> いいね
    <% end %>
    <% else %>
      <%= product.favorites.count %> いいね
    <% end %>
  </p>
<% end %>
