<div class='row'>
    <div class="offset-md-1 col-md-8">
        <% if @shop_or_product == "1" %>
            <h1>search for "Shop"</h1>
            <table class="table">
                <% @shops.each do |shop| %>
                <thead>
                    <tr>
                        <td><h3 class="shop-name"><%= shop.shop_name %></h3></td>
                    </tr>
                </thead>
                <% end %>
            </table>

        <% else @shop_or_product == "2" %>
            <h2>search for "Product"</h2>
            <table>
            <% @products.each do |product| %>
                <thead>
                    <tr>
                        <td style = "width: 10%;">
                            <%= link_to product_path(product) do %>
                                <%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg' %>
                            <% end %>
                        </td>
                        <td style = "width: 30%;"><%= link_to product.product_name, product_path(product)  %></td>
                        <td style = "width: 30%;"><%= product.body %></td>
                        <th style = "width: 10%;"></th>
                        <th style = "width: 20%;"></th>
                    </tr>
                </thead>
            <% end %>
            </table>
        <% end %>
    </div>
</div>