<!--商品詳細の部分テンプレート-->

<div class="product-show">
  <h3 class="marker">商品詳細</h3>
    <table>
      <tr>
        <td>
          <%= attachment_image_tag product, :image, :fill, 400, 330, format: 'jpeg' %>
        </td>
        <td>
          <h4>店舗名：<%= shop.shop_name %></h4>
          <%= link_to '店舗詳細へ', shop_path(shop.id), class:"show_#{shop.id}", class:"btn btn-success" %>
          
            <% if current_user == shop.user %>  <!--ログインユーザーが店舗ユーザーと同じなら、編集と削除ボタンを表示-->
              <%= link_to "商品情報編集", edit_product_path(product.id), class:"btn btn-primary" %>
              <%= link_to "削除", product_path(product.id), method: :delete, class:"btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
            <% end %>
            
          <%= link_to '商品一覧へ戻る', products_path, class:"btn btn-secondary" %>
          <h4>店舗住所：<%= shop.address %></h4>
          
          <% if shop.url.present? %>  <!--URLが登録されていたら表示-->
            <h5>店舗URL：<%= link_to 'リンク先', shop.url %></h5>
          <% end %>
          
          <h4>商品名：<%= product.product_name %></h4>
          <h5>商品説明：<%= product.body %></h5>
          <h5>価格:<%= product.amounts %>円(税抜き)</h5>
          <h5>ジャンル:<%= genre.name %></h5>
          <h6>投稿日：<%= product.created_at.strftime('%Y/%m/%d  %H:%M:%S') %></h6>
          <h6>最終更新日：<%= product.updated_at.strftime('%Y/%m/%d  %H:%M:%S') %></h6>
          <p id = "product_<%= product.id %>"> <!--いいね機能の非同期通信 $("#product_で反映させた-->
          <%= render '/member/favorites/favorite', product: @product %>
          </p>
          
          <p id = "comment_<%= product.id %>"> <!--js内の$(#comment_)で反映させた-->
            コメント件数：<%= product.productcomments.count %>
          </p>
        </td>
      </tr>
    </table>
    
    <div>
      <h4 class="marker">コメント・感想</h4>
        <div class="row">
          <% if current_user %><!--ログインしていたら表示-->
          <p id = ".comments">
          <div class="col-md-6">
            <%= form_with(model:[@product, @comment], remote: true) do |f| %> <!--コメント投稿の非同期通信-->
            <%= f.text_area :comment,  rows:'5',placeholder: "", class:'comment' %>
            <%= f.submit "送信する" %>
            <% end %>
          </div>
          </P>
          <% end %>
            
            
          <div class="col-md-6">
            <div class = "scroll"> <!--js内の$(.scroll)で反映させた-->
            <%= render 'member/productcomments/productcomment', product: @product %>
            </div>
          </div>
        </div>
    </div>
</div>