<!--日本語表記に変更：メンバー側-->
<h2>メンバー 新規登録 </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "member/users/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label 'ユーザー名' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label 'メールアドレス' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label 'パスワード' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label 'パスワード確認（再入力）' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="shop-button">
  <%= f.label 'スイーツ店舗の管理者ですか？' %>
  <%= f.check_box(:admin_flag, {selected: true}, true, false) %>
  <!--ラジオボタン追加-->
  </div>

  <div class="actions">
    <%= f.submit "内容を登録" %>
  </div>
<% end %>


<%= render "member/users/shared/links" %>
