<div class = "row">
  <div class="col-md-6">
    <h3 class='marker'>ようこそ、Swefo♫へ</h3>
      <h5 class="about1">
        美味しいスイーツ情報をゆっくり手軽に、さくっと検索。<br>
        みなさんお気軽にどうぞ♬
      </h5>
    
    <h3 class='marker'>商品更新情報</h3>
    <div class='new'>
      <% @products.last(5).each do |product| %> <!--最終投稿分を5つ表示させてます。-->
        <% shop = product.shop %> 
          <tr>
            <td>
              <h6 class="shop-name">店舗名：<%= shop.shop_name %>様が商品情報を投稿しました。</h6>
              <h6 class="product-name">商品名：<%= link_to product.product_name, product_path(product) %></h6>
              <h6>投稿日<%= product.created_at.strftime('%Y/%m/%d  %H:%M:%S') %></h6>
            </td>
          </tr>
      <% end %>
    </div>
  </div>


  <div class="col-md-6">
    <ul class="bxslider"> <!--商品の写真スライダを反映（クリックすると商品詳細へ）ー-->
      <% @products.each do |product| %>
          <li>
            <% if product.image %>
                <%= attachment_image_tag product, :image, :fill, 1000, 1000, format: 'jpeg' %>
            <% else %>
              <%= image_tag 'no_image.png' %>
            <% end %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
<!--<div class="Topimage"></div>-->