<div class="product-show">
  <h3 class="marker">商品詳細</h3>
    <table>
      <tr>
        <td>
          <%= attachment_image_tag @product, :image, :fill, 400, 330, format: 'jpeg' %>
        </td>
        <td>
          <h4>店舗名：<%= @shop.shop_name %></h4>
          <%= link_to '店舗詳細へ', admin_shop_path(@shop.id), class:"show_#{@shop.id}", class:"btn btn-success" %>
          <%= link_to '商品一覧へ戻る', admin_products_path, class:"btn btn-secondary" %>
          <h4>店舗住所：<%= @shop.address %></h4>
         
          <% if @shop.url.present? %>  <!--店舗先がURL登録していたら表示-->
          <h5>店舗URL：<%= link_to 'リンク先', @shop.url %></h5>
          <% end %>
          
          <h4>商品名：<%= @product.product_name %></h4>
          <h5>商品説明：<%= @product.body %></h5>
          <h5>価格:<%= @product.amounts %>円(税抜き)</h5>
          <h6>投稿日<%= @product.created_at.strftime('%Y/%m/%d  %H:%M:%S') %></h6>
          <p><%= @product.favorites.count %> いいね</p>
          <p>コメント件数：<%= @product.productcomments.count %></p>
        </td>
      </tr>
    </table>
    
    <div>
      <h4 class="marker">コメント・感想</h4>
        <div class="row">
          <div class="col-md-6">
            <div class = "scroll">
            <%= render 'member/productcomments/productcomment', product: @product %>
            </div>
          </div>
        </div>
    </div>
</div>

            