<h2>商品情報編集</h2>
<%= form_with model:@product, url: products_path, local:true, method: :patch do |f| %>
<table>
  <tr>
    <td><h4 class='product-image'>画像</h4></td>
    <td><%= f.attachment_field :image %></td>
  </tr>
  <tr>
    <td><h4 class="shop-name">店舗名</h4></td>
    <td><%= f.text_field :shop_name %></td>
  </tr>
  <tr>
    <td><h4 class="product-name">商品名</h4></td>
    <td><%= f.text_field :product_name %></td>
  </tr>
  <tr>
    <td><h4 class="body">商品説明</h4></td>
    <td><%= f.text_area :body %></td>
  </tr>
  <tr>
    <td><h4 class="amounts">価格</h4></td>
    <td><%= f.text_field :amounts %></td>
  </tr>
  <tr>
    <td><%= f.submit '変更を保存' %></td>
  </tr>
</table>
<% end %>