<h2 class="marker">商品情報編集</h2>
<% if @product.errors.any? %>
  <h4><%= @product.errors.count %>件のエラーが発生しました</h4>
  <ul>
    <% @product.errors.full_messages.each do |message| %>
  <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model:@product, local:true do |f| %>
<table>
  <tr>
    <td><h4 class='product-image'>画像</h4></td>
    <td><%= f.attachment_field :image %></td>
  </tr>
  <tr>
    <td><h4 class="product-name">商品名</h4></td>
    <td><%= f.text_field :product_name %></td>
  </tr>
  <tr>
    <td><h4 class="body">商品説明</h4></td>
    <td><%= f.text_area :body %></td>
  </tr>
  <tr>
    <td><h4 class="amounts">価格（円）</h4></td>
    <td><%= f.text_field :amounts %></td>
  </tr>
  <tr>
    <td><%= f.label 'ジャンル' %></td>
    <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
  </tr>
  <tr>
    <td><%= f.submit '変更を保存' %></td>
  </tr>
</table>
<% end %>