<h2 class = "marker">商品情報登録</h2>
<%= form_with model:@product, url: products_path, local: true do |f| %>
<table>
  <tr>
    <td><h4 class='product-image'>画像</h4></td>
    <td><%= f.attachment_field :image %></td>
  </tr>
  <tr>
    <td><h4 class="product-name">商品名</h4></td>
    <td><%= f.text_field :product_name %></td>
  </tr>
  <tr>
    <td><h4 class="body">商品説明</h4></td>
    <td><%= f.text_area :body %></td>
  </tr>
  <tr>
    <td><h4 class="amounts">価格</h4></td>
    <td><%= f.text_field :amounts %></td>
  </tr>
  <tr>
    <td><%= f.label 'ジャンル' %></td>
    <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
  </tr>
  <tr>
    <td><%= f.submit '内容を保存' %></td>
  </tr>
</table>
<% end %>