<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-md-12">-->
            <div class="users-products-show1">
              <h3>商品詳細</h3>
               <table class = "users-products-show" >
                  <tr>
                    <td>店舗名</td>
                    <td><h4 class="shop-name"><%= @shop.shop_name %></h4></td>
                  </tr>
                  <tr>
                    <td>店舗住所</td>
                    <td><h4 class="shop-address"><%= @shop.address %></h4></td>
                  </tr>
                  <tr>
                    <td>店舗URL</td>
                    <td><h4 class="shop-url"><%= @shop.url %></h4></td>
                  </tr>
                  <tr>
                    <td>商品名</td>
                    <td><h4 class="product-name"><%= @product.product_name %></h4></td>
                  </tr>
                  <tr>
                    <td>商品説明</td>
                    <td><h4 class="product-body"><%= @product.body %></h4></td>
                  </tr>
                  <tr>
                    <td>価格</td>
                    <td><h4 class="product-price"><%= @product.amounts %>円(税抜き)</h4></td>
                  </tr>
              </table>
              
            
              <% if @product.favorited_by?(current_user) %>
                <p>
                  <%= link_to product_favorites_path(@product), method: :delete do %>
                  ♥<%= @product.favorites.count %> いいね
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to product_favorites_path(@product), method: :post do %>
                  ♡<%= @product.favorites.count %> いいね
                  <% end %>
              </p>
              <% end %>
            </div>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->