<h3 class="marker">ユーザー 一覧</h3>
<%= paginate @users %>
<div class="list"> <!--リスト内にスクロールバーを導入してみやすく。-->
  <div class = "row">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <div class = "users-show" >
          <h5 class="user-name">ユーザー名：<%= link_to user.name, admin_user_path(user)  %></h5>
          <h5 class="email">メールアドレス：<%= user.email %></h5>
          <h6 class="admin-flag">店舗管理者(チェック)：<%= user.admin_flag %></h6>
          <!--新規登録で店舗管理者（admin_flag）にチェックを入れていたら店舗情報表示-->
          <h6 class="deleted_at">退会日時：<%= user.deleted_at %></h6>
          <!--新規登録で店舗管理者（admin_flag）にチェックを入れていたら店舗情報表示-->
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'HOME画面に戻る', root_path, class:"btn btn-secondary" %>

