<!DOCTYPE html>
<html>
  <head>
    <title>Swefo♫</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--ログイン中なら上記。違うならelse以下を表示-->
  <body style="background-color: #FFFFAA;">
    <header>
      <%= render 'shared/header', shop: @shop, product: @product, genre: @genre %>
      <!--文章が長くなるので、headerを部分テンプレート化しました。-->
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-9">
            <p>美味しいスイーツ情報をゆっくり手軽に、Swefo♫</p>
          </div>
          <div class="col-md-3">
            <ul class="p-0 list-unstyled">
              <li>
                <%= link_to "当サイトについて", about_path %>
              </li>
              <% if user_signed_in? %>
              <li>
              <%= link_to "退会する", confirm_unsubscribe_path('name') %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
