<!DOCTYPE html>
<html>
  <head>
    <title>Swefo♫</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--ログイン中なら上記。違うならelse以下を表示-->
  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to "当サイトについて", about_path %>
      </li>
      <li>
        <%= link_to "商品一覧", products_path %>
      </li>
      <li>
        <%= link_to "商品情報投稿", new_product_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
      <li>
        <%= link_to "お問い合わせ", contact_path %>
      </li>
    <% else %>
      <li>
        <%= link_to "当サイトについて", about_path %>
      </li>
      <li>
        <%= link_to "商品一覧", products_path %>
      </li>
      <li>
        <%= link_to "商品情報投稿", new_product_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "お問い合わせ", contact_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
