<!DOCTYPE html>
<html>
  <head>
    <title>Swefo♫</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--ログイン中なら上記。違うならelse以下を表示-->
  <body style="background-color: #FFFFAA;">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9acd32; height: 120px;">
        <div class="container">
          <a class="navbar-brand" href="/"><span class="title">Swefo♫</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %> <!--ユーザーログイン時-->
                <li><%= render 'member/search/search', shop: @shop, product: @product, genre: @genre %></li> <!--検索機能の部分テンプレート-->
                <li><%= link_to "商品一覧", products_path, class: "fas fa-ice-cream" %></li>
                <% if current_user.admin_flag %> <!--店舗管理者なら、商品情報新規登録できるように表示-->
                  <li><%= link_to "商品情報投稿", new_product_path, class: "fas fa-edit" %></li>
                <% end %>
                <li><%= link_to "マイページ", user_path(current_user.id), class: "fas fa-id-card" %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "fas fa-user-times" %></li>

              <% elsif admin_signed_in? %> <!--サイト管理者ログイン時 -->
                <li><%= link_to "商品 一覧", admin_products_path, class: "fas fa-ice-cream" %></li>
                <li><%= link_to "ユーザー 一覧", admin_users_path, class: "fas fa-users" %></li>
                <li><%= link_to "ジャンル 一覧", admin_genres_path, class: "fas fa-pen-square" %></li>
                <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-user-times" %></li>

              <% else %> <!--メンバーではない場合-->
                <li><%= link_to "商品一覧", products_index_path, class: "fas fa-ice-cream" %></li>
                <li><%= link_to "新規登録", new_user_registration_path, class: "fas fa-user-plus" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "fas fa-user" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-9">
            <p>美味しいスイーツ情報をゆっくり手軽に、Swefo♫</p>
          </div>
          <div class="col-md-3">
            <ul class="p-0 list-unstyled">
              <li>
                <%= link_to "当サイトについて", about_path %>
              </li>
              <% if user_signed_in? %>
              <li>
              <%= link_to "お問い合わせ", new_contact_path %>
              <%= link_to "退会する", confirm_unsubscribe_path('name') %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
